[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {width:100%;display:block;padding:0;margin:0;}
body {padding: 3px;margin:0;}
#wrap{padding:5px;}
body .container {padding: 0; font-family:"Arial Narrow";}
#myTab {margin-bottom:10px}


/*forms*/
#dtc-form .ng-pristine {
/*background-color:#fafaaf;*/
}

#dtc-form .ng-invalid {
	/*background-color: #FA787E;*/
	background-color: #ddd;
}

div[contentEditable] {
	cursor: pointer;
	border:1px solid transparent;
	padding:0 4px;
}
div[contentEditable]:hover {
	border:1px solid #aaa;
}

/*time*/
#myDesiredTime + .now.btn {
	display:none;
}

/*hide notes in notes-list*/
#notes-list .issue-line,#notes-list .issue-index {cursor:pointer;}
#notes-list .list-group-full-note {display:none;}


.popover-content {
	font:normal 12px/1 Arial !important;padding:5px;
}